<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- 1 -->
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>
				%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
			</Pattern>
		</encoder>
	</appender>

	<!-- 2 -->
	<appender name="fileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>c:\jblogLog\aopLog.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n
			</Pattern>
		</encoder>

		<!-- 1MB되면 zip파일로 묶는다. -->
			<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
				<FileNamePattern>C:\jblogLog\aopLog.%i.log.zip
				</FileNamePattern>
				<MinIndex>1</MinIndex>
				<MaxIndex>10</MaxIndex>
			</rollingPolicy>
			<triggeringPolicy
				class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy"> <!-- 롤링도 한다. -->
				<MaxFileSize>1MB</MaxFileSize>
			</triggeringPolicy>
	</appender>

	<!-- 3 -->
	<!-- com.estsoft.jblog 아래 패키지 로그들  C:\LogExample\logexample2.log 파일에 
		출력하는 로거 -->
	<logger name="com.estsoft.jblog.aspect" level="DEBUG" additivity="false">
		<appender-ref ref="fileAppender" />
		<appender-ref ref="consoleAppender" />
	</logger>
	
	<root>
		<level value="INFO" />
		<appender-ref ref="consoleAppender" />
	</root>

</configuration>